.wrap {
  padding: 45px 0;
  height: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url('../assets/images/main-background.png');
}

.logo {
  margin: 70px 0 24px;
  width: 456px;
}
