.QuestionListItem {
  width: 100%;
}

.select {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-10);
  margin: 20px;
  border-radius: 16px;
  padding: 32px;
  height: 100%;
  position: relative;
  flex-direction: column;
  height: 100%;
}

.badge {
  border: 1px solid var(--brown-40);
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 32px 0;
}

.question {
  font-size: 14px;
  color: var(--gray-40);
}

.profile {
  display: flex;
}

.nameday {
  display: flex;
  gap: 8px;
  text-align: center;
  align-items: center;
}

.day {
  font-size: 14px;
  color: var(--gray-40);
}

.reaction {
  display: flex;
  font-size: 14px;
  border-top: 1px solid var(--gray-30);
  gap: 32px;
  align-items: center;
  margin-top: 32px;
}

.thumbsUp,
.thumbsDown {
  display: flex;
  gap: 8px;
  padding-top: 5px;
  align-items: center;
  margin-top: 10px;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.thumbsUp:active,
.thumbsDown:active {
  transform: scale(1.1);
}

.active {
  color: var(--blue);
}

.thumbsDown.active {
  color: var(--red);
}

.answer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.answerValue {
  overflow-wrap: anywhere;
}

.Dropdown {
  width: 8rem;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  background-color: #ffffff;
}

.Dropdown span {
  font-size: 16px;
  gap: 8px;
}

.Dropdown img {
  width: 16px;
}

.Dropdown div {
  width: 100%;
}

.Dropdown {
  width: 8rem;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  background-color: #ffffff;
  align-items: center;
  text-align: center;
}

.Dropdown span {
  font-size: 16px;
  gap: 8px;
}

.Dropdown img {
  width: 16px;
}

.Dropdown div {
  width: 100%;
}

.dropdownItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
  position: relative;
  width: 100%;
  transition: background-color 0.3s;
}

.dropdownItem:hover {
  background-color: #f9f9f9;
}

.dropdownItem span::after {
  content: '하기';
}

/* 반응형 모바일 사이즈 */
@media (max-width: 767px) and (min-width: 375px) {
  .Dropdown {
    width: 5rem;
  }

  .Dropdown span {
    font-size: 14px;
    gap: 2px;
  }

  .Dropdown img {
    width: 14px;
  }

  .dropdownItem span::after {
    display: none;
  }
}
